<!-- <div class="container">
  <h5>Instructions</h5>
  <ul class="show-list-dots">
    <li>Do not take more than 20 minutes.</li>
    <li>Enter in a descriptive help "subject" describing why you are seeking help.</li>
    <li>Feel free to ask any questions on the <code>#it210</code> channel at <a href="https://byuitcrowd.slack.com/archives/C3HS9RRUJ">BYU
        IT Crowd Slack</a>, but please don't share code with your peers.</li>
    <li>TAs who believe two students have similar-enough help "subjects" will invite both to a zoom call.</li>
    <li>Please join with audio. If your computer has no mic, you may use your phone as a mic.</li>
    <li>Leave your screen awake to receive a sound notification that you are being helped.</li>
    <li>Please indicate if you are in the lab. If you are, and the TA is as well, the TA will seek you out in person.</li>
    <li>A TA listed like <span class="in-lab">this</span> indicates they are in the lab physically. If you are too, they will come find you when helping or passing you off.</li>
    </ul>
</div> -->

<div id="carousel" class="carousel carousel-slider center">
  <div class="carousel-item" href="#ci0!"> <p>Do not take more than 20 minutes.</p> </div>
  <div class="carousel-item" href="#ci1!"> <p>Enter in a descriptive help "subject" describing why you are seeking help.</p> </div>
  <div class="carousel-item" href="#ci2!"> <p>Feel free to ask any questions on the <code>#it210</code> channel at <a href="https://byuitcrowd.slack.com/archives/C3HS9RRUJ">BYU IT Crowd Slack</a>, but please don't share code with your peers.</p> </div>
  <div class="carousel-item" href="#ci3!"> <p>TAs who believe two students have similar-enough help "subjects" will invite both to a zoom call.</p> </div>
  <div class="carousel-item" href="#ci4!"> <p>Please join with audio. If your computer has no mic, you may use your phone as a mic.</p> </div>
  <div class="carousel-item" href="#ci5!"> <p>Leave your screen awake to receive a sound notification that you are being helped.</p> </div>
  <div class="carousel-item" href="#ci6!"> <p>Please indicate if you are in the lab. If you are, and the TA is as well, the TA will seek you out in person.</p> </div>
  <div class="carousel-item" href="#ci7!"> <p>A TA listed like <span class="in-lab">this</span> indicates they are in the lab physically. If you are too, they will come find you when helping or passing you off.</p> </div>
</div>